@font-face {
    font-family: OpenSans-Bold;
    src: url(OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Semibold;
    src: url(OpenSans-Semibold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(OpenSans-Regular.ttf);
}
h2
{
  font-family: OpenSans-Bold;
}
.window
{
  height: 571px;
  width: 903px;
  margin: auto;
  -webkit-box-shadow: 0px 0px 17px -6px var(--windowShadowFg);
  -moz-box-shadow: 0px 0px 17px -6px var(--windowShadowFg);
  box-shadow: 0px 0px 17px -6px var(--windowShadowFg);
  margin-top: 10px;
}
.titleBarBg
{
  height: 21px;
  width: 903px;
  background-color: var(--titleBg);
  float: left;
}
.titleBarFg
{
  text-align: center;
  width: 830px;
  float: left;
  font-family: OpenSans-Regular;
  font-size: 10pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
  color: var(--titleFg);
}
.titleBtnFg[name="minimize"]
{
  background-color: var(--titleButtonFg);
  -webkit-mask: url('images/title_button_minimize.png') no-repeat 4px 4px;
  mask: url('images/title_button_minimize.png') no-repeat 4px 4px;
}
.titleBtnFg[name="minimize"]:hover
{
  background-color: var(--titleButtonFgOver);
}
.titleBtnFg[name="maximize"]
{
  background-color: var(--titleButtonFg);
  -webkit-mask: url('images/title_button_maximize.png') no-repeat 4px 4px;
  mask: url('images/title_button_maximize.png') no-repeat 4px 4px;
}
.titleBtnFg[name="maximize"]:hover
{
  background-color: var(--titleButtonFgOver);
}
.titleBtnCloseFg[name="close"]
{
  background-color: var(--titleButtonCloseFg);
  -webkit-mask: url('images/title_button_close.png') no-repeat 5px 4px;
  mask: url('images/title_button_close.png') no-repeat 5px 4px;
}
.titleBtnCloseFg[name="close"]:hover
{
  background-color: var(--titleButtonCloseFgOver);
}
.titleBtnBg
{
  float: left;
  width: 24px;
  height: 21px;
  background-color: var(--titleButtonBg);
}
.titleBtnBg:hover
{
  background-color: var(--titleButtonBgOver);
}
.titleBtnFg
{
  display: block;
  width: 24px;
  height: 21px;
}
.titleBtnCloseBg
{
  float: left;
  width: 25px;
  height: 21px;
  background-color: var(--titleButtonCloseBg);
}
.titleBtnCloseBg:hover
{
  background-color: var(--titleButtonCloseBgOver);
}
.titleBtnCloseFg
{
  display: block;
  width: 25px;
  height: 21px;
  cursor:default;
}
.titleShadow
{
  height: 1px;
  width: 903px;
  top: 20px;
  position: relative;
  background-color: var(--titleShadow);
}
.mMenuBoxBg
{
  width: 330px;
  height: 54px;
  float: left;
}
.mMenuBoxBg, .dialogBg
{
  background-color: var(--dialogsBg);
}
.mMenuBtnBg
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}
.mMenuBtnBg[name="mMenu"]
{
  top: 7px;
  left: 7px;
}
.mMenuBtnBg:active
{
  background-color: var(--windowBgOver);
}
.mMenuBtnFg
{
  line-height: 40px;
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  background-color: var(--menuIconFg);
  cursor: pointer;
}
.mMenuBtnFg[name="mMenu"]
{
  -webkit-mask: url('images/dialogs_menu.png') no-repeat 10px 10px;
  mask: url('images/dialogs_menu.png') no-repeat 10px 10px;
}
.mMenuBtnFg:hover
{
  background-color: var(--menuIconFgOver);
}
.searchForm
{
  padding-top: 8px;
  padding-bottom: 0;
  padding-right: 0;
  height: 32px;
  width: 264px;
  position: relative;
  top: -32px;
  left: 54px;
}
.searchBoxBg
{
  padding: 8px 11px;
  position: relative;
  line-height: 40px;
  border-radius: 2px;
  border: 2px solid var(--filterInputInactiveBg);
  background-color: var(--filterInputInactiveBg);
  box-sizing: border-box;
  height: 32px;
  width: 264px;
  top: -4px;
  left: 1px;
}
.searchBoxBg:focus
{
  border: 2px solid var(--filterInputBorderFg);
  background-color: var(--windowBg);
}
.searchBoxBg::-webkit-search-cancel-button
{
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  left: 10px;
  background-color: var(--cancelIconFg);
  -webkit-mask: url('images/dialogs_cancel_search.png') no-repeat 0 0;
  mask: url('images/dialogs_cancel_search.png') no-repeat 0 0;
  width: 18px;
	height: 18px;
}
.searchBoxBg::-webkit-search-cancel-button:hover
{
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  left: 10px;
  background-color: var(--cancelIconFgOver);;
  -webkit-mask: url('images/dialogs_cancel_search.png') no-repeat 0 0;
  mask: url('images/dialogs_cancel_search.png') no-repeat 0 0;
  width: 18px;
	height: 18px;
}
.dialogBg
{
  width: 330px;
  height: 62px;
  float: left;
  display: block;
  cursor: pointer;
}
.dialogBg:hover
{
  background-color: var(--dialogsBgOver);
}
.dialogBg:active
{
  background-color: var(--windowBgRipple);
}
.dialogBg[name="selected"]
{
  background-color: var(--dialogsBgActive);
}
.dialogBg[name="selected"]:active
{
  background-color: var(--activeButtonBgRipple);
}

.layerBg
{
  height: 571px;
  width: 903px;
  background-color: var(--layerBg);
}
.mMenuCoverBg
{
  position: relative;
  top: 10px;
  height: 540px;
  width: 274px;
  background-color: var(--mainMenuCoverBg);
  float: left;
}
.mMenuBg
{
  float: left;
  width: 274px;
  height: 400px;
  background-color: var(--mainMenuBg);
}
.mMenuButton
{
  width: 274px;
  height: 46px;
  float: left;
  background-color: var(--windowBg);
}
.mMenuButton:hover
{
  background-color: var(--windowBgOver);
}
.mMenuButton:active
{
  background-color: var(--windowBgRipple);
}
.mMenuCoverFg
{
  font-family: OpenSans-Regular;
  font-size: 10pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  top: 18px;
  left: 7px;
  position: relative;
  color: var(--mainMenuCoverFg);
  float: left;
}
.mMenuButtonText
{
  line-height: 46px;
  font-family: OpenSans-Regular;
  font-size: 10pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  display: inline-block;
  position: relative;
  top: -46px;
  left: 0;
  padding-left: 69px;
  width: 205px;
  color: var(--windowBoldFg);
  float: left;
}
.mMenuButtonText:hover
{
  color: var(--windowBoldFgOver);
}
.mMenuUser
{
  float: left;
  width: 274px;
  height: 140px;
}
.mMenuIcon[name="nGroup"]
{
  -webkit-mask: url(images/menu_new_group.png) no-repeat 29px 53%;
  mask: url(images/menu_new_group.png) no-repeat 29px 53%;
}
.mMenuIcon[name="nChannel"]
{
  -webkit-mask: url('images/menu_new_channel.png') no-repeat 29px 53%;
  mask: url('images/menu_new_channel.png') no-repeat 29px 53%;
}
.mMenuIcon[name="Contacts"]
{
  -webkit-mask: url('images/menu_contacts.png') no-repeat 29px 53%;
  mask: url('images/menu_contacts.png') no-repeat 29px 53%;
}
.mMenuIcon[name="Settings"]
{
  -webkit-mask: url('images/menu_settings.png') no-repeat 29px 53%;
  mask: url('images/menu_settings.png') no-repeat 29px 53%;
}
.mMenuIcon[name="FAQ"]
{
  -webkit-mask: url('images/menu_help.png') no-repeat 29px 53%;
  mask: url('images/menu_help.png') no-repeat 29px 53%;
}
.mMenuIcon
{
  display: inline-block;
  line-height: 46px;
  padding-right: 223px;
  padding-left: 29px;
  z-index: 1;
  width: 22px;
  height: 22px;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--menuIconFg);
  float: left;
}
.mMenuIcon:hover
{
  background-color: var(--menuIconFgOver);
}
.mMenuUser
{
  left: 24px;
  top: 22px;
  position: relative;
}
.mMenuAvatar
{
  line-height: 92px;
  /*background-image: url('http:/*i.stack.imgur.com/Dj7eP.jpg');*/
  background-color: #e17076;
  font-size: 16px;
  font-family: OpenSans-Bold;
  text-align: center;
  color: #ffffff;
  line-height: 48px;
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  float: left;
  margin-right: 195px;
}
.mMenuAboutFg
{
  position: relative;
  left: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--windowSubTextFg);
  float: left;
}
.mMenuAboutFg[name=TDesktop]
{
  top: 101px;
  font-family: OpenSans-Semibold;
  font-size: 10pt;
  cursor: pointer;
  width: 117px;
  margin-right: 100px;
}
.mMenuAboutFg[name=About]
{
  font-family: OpenSans-Regular;
  font-size: 10pt;
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 10px;
  left: 35px;
  top: 104px;
}
.mMenuAboutFg[name=Version]
{
  top: 104px;
  font-family: OpenSans-Regular;
  font-size: 10pt;
  cursor: pointer;
  width: 81px;
}
.mMenuAboutFg[name=Div]
{
  font-family: OpenSans-Regular;
  font-size: 10pt;
  cursor: default;
  position: relative;
  display: inline-block;
  width: 10px;
  top: 104px;
  left: 34px;
}
.mMenuAboutFg[name=TDesktop]:hover ,
.mMenuAboutFg[name=About]:hover,
.mMenuAboutFg[name=Version]:hover
{
  color: var(--windowSubTextFgOver);
  text-decoration: underline;
}
.dialogShadow
{
  z-index: 1;
  position: relative;
  width: 1px;
  height: 496px;
  background-color: var(--shadowFg);
  float: left;
}
.lChatShadow
{
  z-index: 1;
  position: relative;
  width: 1px;
  height: 54px;
  background-color: var(--shadowFg);
  float: left;
}
.chatTopBg
{
  width: 572px;
  height: 54px;
  background-color: var(--windowBg);
  position: relative;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
}
.chatShadow
{
  width: 572px;
  height: 1px;
  background-color: var(--shadowFg);
  position: relative;
  top: 36px;
  left: 1px;
}
.chatTitleFg
{
  top: 8px;
  left: 17px;
  position: relative;
  font-family: OpenSans-Bold;
  font-size: 10pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: var(--windowFg);
}
.chatSubTitleFg
{
  top: 28px;
  left: 17px;
  position: absolute;
  font-family: OpenSans-Regular;
  font-size: 10pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: var(--contactsStatusFg);
}
.chatStateFg
{
  top: 28px;
  left: 78px;
  position: relative;
  font-family: OpenSans-Regular;
  font-size: 10pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: var(--contactsStatusFgOnline);
}
.mMenuBtnFg[name="search"]
{
  -webkit-mask: url('images/title_search.png') no-repeat 11px 11px;
  mask: url('images/title_search.png') no-repeat 11px 11px;
}
.mMenuBtnFg[name="options"]
{
  -webkit-mask: url('images/title_menu_dots.png') no-repeat 16px 10px;
  mask: url('images/title_menu_dots.png') no-repeat 16px 10px;
}
.mMenuBtnBg[name="search"]
{
  position: absolute;
  right: 46px;
  top: 7px;
}
.mMenuBtnBg[name="options"]
{
  position: absolute;
  right: 5px;
  top: 7px;
}
.dialogAvatar
{
  position: relative;;
  left: 10px;
  top: 8px;
  background-color: #e17076;
  font-size: 16px;
  font-family: OpenSans-Bold;
  text-align: center;
  color: #ffffff;
  line-height: 46px;
  width: 46px;
  height: 46px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  float: left;
  margin-right: 16px;
}
.dialogAvatar[name="telegram"]
{
  background-image: url('images/avatar.png');
  text-indent: 100%;
  white-space: hidden;
  overflow: hidden;
}
.dialogIcon
{
  width: 24px;
  height: 26px;
  position: relative;
  background-color: var(--dialogsChatIconFg);
  float: left;
}
.dialogIcon[name="group"]
{
  -webkit-mask: url('images/dialogs_chat.png') no-repeat 7px 14px;
  mask: url('images/dialogs_chat.png') no-repeat 7px 14px;
}
.dialogIcon[name="channel"]
{
  -webkit-mask: url('images/dialogs_channel.png') no-repeat 9px 14px;
  mask: url('images/dialogs_channel.png') no-repeat 9px 14px;
}
.dialogBg[name="selected"] > .dialogTopFg > .dialogIcon
{
  background-color: var(--dialogsChatIconFgActive);
}
.dialogBg:not([name="selected"]):hover > .dialogTopFg > .dialogIcon
{
  background-color: var(--dialogsChatIconFgOver);
}
.dialogName
{
  font-family: OpenSans-Semibold;
  font-size: 10pt;
  position: relative;
  top: 11px;
  left: 6px;
  float: left;
  color: var(--dialogsNameFg);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dialogBg[name="selected"] > .dialogTopFg > .dialogName
{
  color: var(--dialogsNameFgActive);
}
.dialogBg:not([name="selected"]):hover > .dialogTopFg > .dialogName
{
  color: var(--dialogsNameFgOver);
}
.dialogDate
{
  font-family: OpenSans-Regular;
  font-size: 10pt;
  float: right;
  top: 10px;
  right: 10px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--dialogsDateFg);
}
.dialogBg[name="selected"] > .dialogTopFg > .dialogDate
{
  color: var(--dialogsDateFgActive);
}
.dialogBg:not([name="selected"]):hover > .dialogTopFg > .dialogDate
{
  color: var(--dialogsDateFgOver);
}
.dialogsList
{
  float: left;
  width: 330px;
  height: 496px;
}
.dialogFrom
{
  font-family: OpenSans-Regular;
  font-size: 10pt;
  float: left;
  position: relative;
  left: 6px;
  top: 6px;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--dialogsTextFgService);
}
.dialogBg[name="selected"] > .dialogFrom
{
  color: var(--dialogsTextFgServiceActive);
}
.dialogBg:not([name="selected"]):hover > .dialogFrom
{
  color: var(--dialogsTextFgServiceOver);
}
.dialogText
{
  display: inline-block;
  font-family: OpenSans-Regular;
  font-size: 10pt;
  float: left;
  position: relative;
  left: 8px;
  top: 6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--dialogsTextFg);
}
.dialogBg[name="selected"] > .dialogText
{
  color: var(--dialogsTextFgActive);
}
.dialogBg:not([name="selected"]):hover > .dialogText
{
  color: var(--dialogsTextFgOver);
}
.dialogTopFg
{
  height: 28px;
}
.dialogRead
{
  float: right;
  width: 26px;
  height: 26px;
}
.dialogRead[name="sending"]
{
  background-color: var(--dialogsSendingIconFg);
  -webkit-mask: url('images/dialogs_sending.png') no-repeat 0px 14px;
  mask: url('images/dialogs_sending.png') no-repeat 3px 14px;
}
.dialogBg[name="selected"] > .dialogTopFg > .dialogRead[name="sending"]
{
  background-color: var(--dialogsSendingIconFgActive);
}
.dialogBg:not([name="selected"]):hover > .dialogTopFg > .dialogRead[name="sending"]
{
  background-color: var(--dialogsSendingIconFgOver);
}
.dialogRead[name="sent"]
{
  -webkit-mask: url('images/dialogs_sent.png') no-repeat 0px 14px;
  mask: url('images/dialogs_sent.png') no-repeat 3px 14px;
  background-color: var(--dialogsSentIconFg);
}
.dialogBg[name="selected"] > .dialogTopFg > .dialogRead[name="sent"]
{
  background-color: var(--dialogsSentIconFgActive);
}
.dialogBg:not([name="selected"]):hover > .dialogTopFg > .dialogRead[name="sent"]
{
  background-color: var(--dialogsSentIconFgOver);
}
.dialogRead[name="received"]
{
  -webkit-mask: url('images/dialogs_received.png') no-repeat 0px 14px;
  mask: url('images/dialogs_received.png') no-repeat 3px 14px;
  background-color: var(--dialogsSentIconFg);
}
.dialogBg[name="selected"] > .dialogTopFg > .dialogRead[name="received"]
{
  background-color: var(--dialogsSentIconFgActive);
}
.dialogBg:not([name="selected"]):hover > .dialogTopFg > .dialogRead[name="received"]
{
  background-color: var(--dialogsSentIconFgOver);
}
.dialogVerifiedStar
{
  float:left;
  background-color: var(--dialogsVerifiedIconBg);
  width: 14px;
  height: 14px;
  -webkit-mask: url('images/dialogs_verified_star.png') no-repeat 0px 0px;
  mask: url('images/dialogs_verified_star.png') no-repeat 0px 0px;
  position: relative;
  display: inline-block;
  left: 10px;
  top: 12px;
}
.dialogBg:hover > .dialogTopFg > .dialogVerifiedStar
{
  background-color: var(--dialogsVerifiedIconBgOver);
}
.dialogBg[name="selected"] > .dialogTopFg > .dialogVerifiedStar
{
  background-color: var(--dialogsVerifiedIconBgActive);
}
.dialogVerifiedCheck
{
  float.left;
  position: relative;
  left: 3;
  top: 5;
  background-color: var(--dialogsVerifiedIconFg);
  width: 8px;
  height: 5px;
  display: inline-block;
  -webkit-mask: url('images/dialogs_verified_check.png') no-repeat 0px 0px;
  mask: url('images/dialogs_verified_check.png') no-repeat 0px 0px;
}
.dialogBg:hover > .dialogTopFg > .dialogVerifiedStar > .dialogVerifiedCheck
{
  background-color: var(--dialogsVerifiedIconFgOver);
}
.dialogBg[name="selected"] > .dialogTopFg > .dialogVerifiedStar > .dialogVerifiedCheck
{
  background-color: var(--dialogsVerifiedIconFgActive);
}
.dialogBg[name="selected"]:hover > .dialogTopFg > .dialogVerifiedStar > .dialogVerifiedCheck
{
  background-color: var(--dialogsVerifiedIconFgActive);
}
.chatBg
{
  height: 496px;
  width: 573px;
  float: left;
  background-image: url('images/bg_initial.jpg');
}
.dialogCounter
{
  text-align: center;
  font-family: OpenSans-Bold;
  font-size: 10pt;
  right: 10px;
  top: 6px;
  width: 19px;
  height: 19px;
  float: right;
  position: relative;
  display: inline-block;
  -webkit-mask: url('images/dialogs_counter.png') no-repeat 0px 0px;
  mask: url('images/dialogs_counter.png') no-repeat 0px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dialogCounter:not([name="muted"])
{
  color: var(--dialogsUnreadFg);
  background-color: var(--dialogsUnreadBg);
}
.dialogCounter[name="muted"]
{
  color: var(--dialogsUnreadFg);
  background-color: var(--dialogsUnreadBgMuted);
}
.dialogBg:hover > .dialogCounter:not([name="muted"])
{
  color: var(--dialogsUnreadFgOver);
  background-color: var(--dialogsUnreadBgOver);
}
.dialogBg:not([name="selected"]):hover > .dialogCounter[name="muted"]
{
  color: var(--dialogsUnreadFgOver);
  background-color: var(--dialogsUnreadBgMutedOver);
}
.dialogBg[name="selected"] > .dialogCounter
{
  color: var(--dialogsUnreadFgActive);
  background-color: var(--dialogsUnreadBgActive);
}
.dialogBg[name="selected"] > .dialogCounter[name="muted"]
{
  color: var(--dialogsUnreadFgActive);
  background-color: var(--dialogsUnreadBgMutedActive);
}
.window[name="mainMenu"]
{
  background-image: url('images/bg_initial.jpg');
}
.messageBg
{
  width: 174px;
  height: 50px;
  position: relative;
}
.messageIn > .messageBg
{
  background-color: var(--msgInBg);
  float: left;
  -webkit-mask: url('images/chat_message.png') no-repeat 0px 0px;
  mask: url('images/chat_message.png') no-repeat 0px 0px;
  top: 8px;
  margin-right: 176px;
}
.messageOut > .messageBg
{
  background-color: var(--msgOutBg);
  float: right;
  -webkit-mask: url('images/chat_message_out.png') no-repeat 0px 0px;
  mask: url('images/chat_message_out.png') no-repeat 0px 0px;
  right: 10px;
  top: 2px;
}
.messageShadow
{
  float: left;
  width: 174px;
  height: 8px;
  position: relative;
}
.messageIn > .messageShadow
{
  background-color: var(--msgInShadow);
  -webkit-mask: url('images/chat_message_shadow.png') no-repeat 0px 0px;
  mask: url('images/chat_message_shadow.png') no-repeat 0px 0px;
  left: 50px;
  top: 2px;
}
.messageOut > .messageShadow
{
  float: right;
  background-color: var(--msgOutShadow);
  -webkit-mask: url('images/chat_message_out_shadow.png') no-repeat 0px 0px;
  mask: url('images/chat_message_out_shadow.png') no-repeat 0px 0px;
  top: 46px;
  left: 164px;
}
.messageAvatar
{
  position: relative;;
  left: 13px;
  top: 26px;
  background-color: #e17076;
  font-size: 16px;
  font-family: OpenSans-Bold;
  text-align: center;
  color: #ffffff;
  line-height: 33px;
  width: 33px;
  height: 33px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  float: left;
  margin-right: 16px;
}
.messageFrom
{
  font-family: OpenSans-Semibold;
  font-size: 10pt;
  float: left;
  position: relative;
  top: 7px;
  left: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.messageText
{
  font-family: OpenSans-Regular;
  font-size: 10pt;
  float: left;
  position: relative;
  top: 25px;
}
.messageOut > .messageBg > .messageText
{
  left: 13px;
}
.messageDate
{
  font-family: OpenSans-Regular;
  font-size: 10pt;
  float: right;
  position: relative;
  top: 30px;
  right: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  color: var(--msgInDateFg);
}
.messageIn
{
    width: 573px;
    height: 61px;
}
.messageOut
{
    width: 573px;
    height: 61px;
}
