/* Load fonts OpenSans Bold, Semibold and Regular*/
@font-face {
    font-family: OpenSans-Bold;
    src: url(OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Semibold;
    src: url(OpenSans-Semibold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(OpenSans-Regular.ttf);
}
/* Titles*/
h2
{
  font-family: OpenSans-Bold;
}
/* Window and shadow*/
.window
{
  height: 571px;
  width: 903px;
  margin: auto;
  -webkit-box-shadow: 0px 3px 10px 0px var(--windowShadowFg);
  -moz-box-shadow:    0px 3px 10px 0px var(--windowShadowFg);
  box-shadow:         0px 3px 10px 0px var(--windowShadowFg);
  margin-top: 10px;
}
/* Start Titlebar */
.titleBarBg
{
  height: 21px;
  width: 903px;
  background-color: var(--titleBg);
}
.titleBarFg
{
  text-align: center;
  width: 830px;
  float: left;
  font-family: OpenSans-Regular;
  font-size: 10pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
  color: var(--titleFg);
}
.titleBtnFg[name="minimize"]
{
  width: 16px;
  height: 13px;
  background-color: var(--titleButtonFg);
  -webkit-mask: url('images/title_button_minimize.png') no-repeat 4px 4px;
  mask: url('images/title_button_minimize.png') no-repeat 4px 4px;
}
.titleBtnFg[name="minimize"]:hover
{
  background-color: var(--titleButtonFgOver);
}
.titleBtnFg[name="maximize"]
{
  width: 16px;
  height: 13px;
  background-color: var(--titleButtonFg);
  -webkit-mask: url('images/title_button_maximize.png') no-repeat 4px 4px;
  mask: url('images/title_button_maximize.png') no-repeat 4px 4px;
}
.titleBtnFg[name="maximize"]:hover
{
  background-color: var(--titleButtonFgOver);
}
.titleBtnCloseFg[name="close"]
{
  width: 16px;
  height: 13px;
  background-color: var(--titleButtonCloseFg);
  -webkit-mask: url('images/title_button_close.png') no-repeat 5px 4px;
  mask: url('images/title_button_close.png') no-repeat 5px 4px;
}
.titleBtnCloseFg[name="close"]:hover
{
  background-color: var(--titleButtonCloseFgOver);
}
.titleBtnBg
{
  display: block;
  float: left;
  width: 24px;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
  text-align: center;
  background-color: var(--titleButtonBg);
}
.titleBtnBg:hover
{
  background-color: var(--titleButtonBgOver);
}
.titleBtnFg
{
  display: inline-block;
  padding: 3px 5px 5px 6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}
.titleBtnCloseBg
{
  display: block;
  float: left;
  width: 25px;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
  text-align: center;
  background-color: var(--titleButtonCloseBg);
}
.titleBtnCloseBg:hover
{
  background-color: var(--titleButtonCloseBgOver);
}
.titleBtnCloseFg
{
  display: inline-block;
  padding: 4px 7px 4px 7px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}
.titleShadow
{
  height: 1px;
  width: 903px;
  top: 20px;
  position: relative;
  background-color: var(--titleShadow);
}
/* End Titlebar */

/* Start main menu box, search box and chat list */
.mMenuBoxBg
{
  width: 330px;
  height: 54px;
}
.mMenuBoxBg, .dialogBg
{
  background-color: var(--dialogsBg);
}
.mMenuBtnBg
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  top: 7px;
  left: 7px;
}
.mMenuBtnBg:active
{
  background-color: var(--windowBgOver);
}
.mMenuBtnFg
{
  line-height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  width: 20px;
  height: 20px;
  position: relative;
  padding-top: 14px;
  display: inline-block;
  padding-bottom: 14px;
  background-color: var(--menuIconFg);
  -webkit-mask: url('images/dialogs_menu.png') no-repeat 10px 10px;
  mask: url('images/dialogs_menu.png') no-repeat 10px 10px;
  cursor: pointer;
}
.mMenuBtnFg:hover
{
  background-color: var(--menuIconFgOver);
}
.searchForm
{
  padding-top: 8px;
  padding-bottom: 0;
  padding-right: 0;
  height: 32px;
  width: 264px;
  position: relative;
  top: -32px;
  left: 54px;
}
.searchBoxBg
{
  padding: 8px 11px;
  position: relative;
  line-height: 40px;
  border-radius: 2px;
  border: 2px solid var(--filterInputInactiveBg);
  background-color: var(--filterInputInactiveBg);
  box-sizing: border-box;
  height: 32px;
  width: 264px;
  top: -4px;
  left: 1px;
}
.searchBoxBg:focus
{
  border: 2px solid var(--filterInputBorderFg);
  background-color: var(--windowBg);
}
.searchBoxBg::-webkit-search-cancel-button
{
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  left: 10px;
  background-color: var(--cancelIconFg);
  -webkit-mask: url('images/dialogs_cancel_search.png') no-repeat 0 0;
  mask: url('images/dialogs_cancel_search.png') no-repeat 0 0;
  width: 18px;
	height: 18px;
}
.searchBoxBg::-webkit-search-cancel-button:hover
{
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  left: 10px;
  background-color: var(--cancelIconFgOver);;
  -webkit-mask: url('images/dialogs_cancel_search.png') no-repeat 0 0;
  mask: url('images/dialogs_cancel_search.png') no-repeat 0 0;
  width: 18px;
	height: 18px;
}
.dialogBg
{
  width: 330px;
  height: 62px;
  display: block;
}
.dialogBg:hover
{
  background-color: var(--dialogsBgOver);
}
.dialogBg:active
{
  background-color: var(--windowBgRipple);
}
.dialogBg[name="selected"]
{
  background-color: var(--dialogsBgActive);
}
.dialogBg[name="selected"]:active
{
  background-color: var(--activeButtonBgRipple);
}

.layerBg
{
  height: 550px;
  width: 903px;
  background-color: var(--layerBg);
}
.mMenuCoverBg
{
  position: relative;
  top: 10px;
  height: 540px;
  width: 274px;
  background-color: var(--mainMenuCoverBg);
}
.mMenuBg
{
  width: 274px;
  height: 400px;
  background-color: var(--mainMenuBg);
}
.mMenuButton
{
  width: 274px;
  height: 46px;
  background-color: var(--windowBg);
}
.mMenuButton:hover
{
  background-color: var(--windowBgOver);
}
.mMenuButton:active
{
  background-color: var(--windowBgRipple);
}
.mMenuCoverFg
{
  font-family: OpenSans-Regular;
  font-size: 10pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  top: 18px;
  left: 7px;
  position: relative;
  color: var(--mainMenuCoverFg);
}
.mMenuButtonText
{
  line-height: 46px;
  font-family: OpenSans-Regular;
  font-size: 10pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  display: inline-block;
  position: relative;
  top: -46px;
  left: 0;
  padding-left: 69px;
  width: 205px;
  color: var(--windowBoldFg);
}
.mMenuButtonText:hover
{
  color: var(--windowBoldFgOver);
}
.mMenuUser
{
  width: 274px;
  height: 140px;
}
.mMenuIcon[name="nGroup"]
{
  -webkit-mask: url(images/menu_new_group.png) no-repeat 29px 53%;
  mask: url(images/menu_new_group.png) no-repeat 29px 53%;
}
.mMenuIcon[name="nChannel"]
{
  -webkit-mask: url('images/menu_new_channel.png') no-repeat 29px 53%;
  mask: url('images/menu_new_channel.png') no-repeat 29px 53%;
}
.mMenuIcon[name="Contacts"]
{
  -webkit-mask: url('images/menu_contacts.png') no-repeat 29px 53%;
  mask: url('images/menu_contacts.png') no-repeat 29px 53%;
}
.mMenuIcon[name="Settings"]
{
  -webkit-mask: url('images/menu_settings.png') no-repeat 29px 53%;
  mask: url('images/menu_settings.png') no-repeat 29px 53%;
}
.mMenuIcon[name="FAQ"]
{
  -webkit-mask: url('images/menu_help.png') no-repeat 29px 53%;
  mask: url('images/menu_help.png') no-repeat 29px 53%;
}
.mMenuIcon
{
  display: inline-block;
  line-height: 46px;
  padding-right: 223px;
  padding-left: 29px;
  z-index: 1;
  width: 22px;
  height: 22px;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--menuIconFg);
}
.mMenuIcon:hover
{
  background-color: var(--menuIconFgOver);
}
.mMenuUser
{
  left: 24px;
  top: 22px;
  position: relative;
}
.mMenuAvatar
{
  line-height: 92px;
  /*background-image: url('http:/*i.stack.imgur.com/Dj7eP.jpg');*/
  background-color: #e17076;
  font-size: 16px;
  font-family: OpenSans-Bold;
  text-align: center;
  color: #ffffff;
  line-height: 48px;
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.mMenuAbout
{
  position: relative;
  left: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--windowSubTextFg);
}
.mMenuAbout[name=TDesktop]
{
  top: 101px;
  font-family: OpenSans-Semibold;
  font-size: 10pt;
  cursor: pointer;
  width: 117px;
}
.mMenuAbout[name=About]
{
  font-family: OpenSans-Regular;
  font-size: 10pt;
  cursor: pointer;
  left: 112px;
  top: 86px;
  position: relative;
  display: inline-block;
  width: 10px;
}
.mMenuAbout[name=Version]
{
  top: 104px;
  font-family: OpenSans-Regular;
  font-size: 10pt;
  cursor: pointer;
  width: 81px;
}
.mMenuAbout[name=Div]
{
  font-family: OpenSans-Regular;
  font-size: 10pt;
  cursor: default;
  left: 115px;
  top: 86px;
  position: relative;
  display: inline-block;
  width: 10px;
}
.mMenuAbout[name=TDesktop]:hover ,
.mMenuAbout[name=About]:hover,
.mMenuAbout[name=Version]:hover
{
  color: var(--windowSubTextFgOver);
  text-decoration: underline;
}
